@media screen and (max-width:1250px) {
    #social-icons-container{        
        width: 20%;
    }
 
    .social-icons {
        margin: 0 20px;
    }

    
}

@media screen and (max-width:1000px) {
    #social-icons-container{        
        width: 30%;
    }
}

@media screen and (max-width:650px) {
    #social-icons-container{        
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    #social-icons-container{        
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    #social-icons-container{        
        width: 60%;
    }
}